* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

body {
    background-color: #fcf1e5;
}

header {
    background-color: #fcf1e5;
}

main {
    background-color: #fcf1e5;
}

section {
    background-color: #fcf1e5;
}

.head {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo>div>h5 {
    color: #4D2900;
    border-bottom: 1px solid #00000096;
    width: max-content;
}

.search>input {
    border: none;
    outline: none;
    background-color: transparent;
}

.search {
    border-bottom: 1px solid #333;
}

.head_text {
    display: flex;
    text-align: center;
    gap: 20px;
}

.head_text>a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.cart {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main_text {
    width: 30%;
}

.main_text>h1 {
    font-size: 36px;
    font-weight: 900;
    color: #002406;
}

.main_text>p {
    font-size: 13px;
    font-weight: 400;
    color: #241400;
}

.main_text>button {
    width: 30%;
    height: 5vh;
    background-color: darkorange;
    border: none;
    color: aliceblue;
    font-weight: 900;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
}

.main_text {
    width: 40%;
}

.main_img {
    position: relative;
    background-color: #4D2900;
    padding: 10px;
    width: 632px;
    height: 372px;
    box-shadow: -9px 13px 8px 0px rgba(12, 12, 13, 0.79);
}

.box1 {
    width: 200px;
    height: 250px;
    background-color: #4D2900;
    position: absolute;
    left: 50px;
    top: -38px;
}

.box2 {
    width: 250px;
    height: 250px;
    background-color: #4D2900;
    position: absolute;
    left: 200px;
    top: -20px;

}

.box3 {
    width: 250px;
    height: 250px;
    background-color: #4D2900;
    position: absolute;
    left: 170px;
    bottom: -50px;
    box-shadow: 0px 15px 7px -5px rgba(12, 12, 13, 0.79)
}

.main_img>img {
    position: absolute;
    left: -50px;
}

.hero_2 {
    width: 100%;
    padding: 50px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav>nav {
    display: flex;
    text-align: center;
    gap: 50px;
}

.nav >nav> a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.books {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;
    gap: 30px;
}

.books>div {
    width: 15%;
    background-color: #FFFFFF;
    padding: 25px;
    box-shadow: 4px 4px 8px 7px rgba(32, 41, 49, 0.2);

}

.books>div>h1 {
    font-size: 18px;
    font-weight: 700;
    color: #241400;
}

.books>div>h3 {
    font-size: 12px;
    font-weight: 700;
}

.books>div>p {
    font-size: 12px;
    font-weight: 400;
    color: #241400;
}

.book {
    display: flex;
    gap: 5px;
}

.book>button {
    background-color: orange;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
}

.books>div>img {
    width: 90%;
    height: 190px;
}

.line {
    width: 370px;
    height: 6px;
    background-color: #D7D7D7;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.brown {
    width: 47px;
    height: 12px;
    background-color: #4D2900;
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
}

.hero_3 {
    width: 100%;
    padding: 50px;
}

.nav-2>h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
}

.del {
    text-align: end;
}

.del>del {
    font-size: 15px;
    font-weight: 400;
    color: red;
}

.brown-2 {
    width: 47px;
    height: 12px;
    background-color: #4D2900;
    position: absolute;
    top: -3px;
    left: 10%;
    transform: translateX(-10%);
}

.boxes {
    margin-top: 50px;
    margin-bottom: 50px;
}

.boxes>.container>h1 {
    text-align: center;
}


.kubiki {
    width: 45%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3%;
}

.kubiki>div {
    width: 31%;
    padding: 25px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 4px 4px 10px 1px rgba(32, 41, 49, 0.2);
}

.kubiki>div>h3 {
    font-size: 14px;
}

.time>h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: 900;
    color: #241400;
}

.dives {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dives>div {
    display: flex;
    align-items: center;
    gap: 27px;
    color: #241400;
}

.dives>div>h1 {
    font-size: 50px;
    font-weight: 900;
}

.dives>div>p {
    font-size: 13px;
    font-weight: 400;
    color: #241400;
}

.dostavka {
    margin-top: 50px;
    text-align: center;
    color: #241400;
}

.dostavka>.div_text>p {
    font-size: 12px;
    font-weight: 400;
    color: #241400;
}

.dostavka>.div_text>a {
    text-decoration: none;
    color: #241400;
    font-size: 12px;
    font-weight: 700;
}

.h1 {
    text-align: center;
}

.icon {
    margin-top: 100px;
    margin-bottom: 50px;
}

.icons {
    text-align: center;
}
footer{
    width: 100%;
    background-color: #391F00;
    padding-top: 56px;
    padding-bottom: 100px;
}
.gojo{
    display: flex;
    justify-content: space-between;
}
.rukia{
    margin-top: 55px;
    display: flex;
    gap: 5px;
}
.rukia > div{
    
    margin-top: 5px;
    color: #fff;
}
.rukia > div > h5{
    border-bottom: 1px solid #FFFFFF96;
    width: max-content;
}
.rukia > img{
    height: max-content;
}
.aizen{
    display: flex;
    gap: 91px;
    color: #FFFFFF;
}
.aizen > div > h1{
    font-size: 18px;
    font-weight: 400;
}
.aizen > div > p{
    font-size: 13px;
    font-weight: 400;
}
.ichigo {
    margin-top: 50px;
}
.ichigo > h1{
    font-size: 12px;
    font-weight: 900;
    color: #FFFFFF;
}
.ichigo > button{
    width: 136px;
    height: 26px;
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
    color: orange;
    border: 1px solid orange;
    border-radius: 2px;
}